, "3"
HKR, Ndi\Params\*TCPChecksumOffloadIPv6\Enum,   "0",                    0, %Disabled%
HKR, Ndi\Params\*TCPChecksumOffloadIPv6\Enum,   "1",                    0, %ChksumOffTx%
HKR, Ndi\Params\*TCPChecksumOffloadIPv6\Enum,   "2",                    0, %ChksumOffRx%
HKR, Ndi\Params\*TCPChecksumOffloadIPv6\Enum,   "3",                    0, %ChksumOffTxRx%
HKR, Ndi\Params\*TCPChecksumOffloadIPv6,        type,                   0, "enum"

; *UDPChecksumOffloadIPv4
HKR, Ndi\Params\*UDPChecksumOffloadIPv4,        ParamDesc,              0, %UDPChksumOffv4%
HKR, Ndi\Params\*UDPChecksumOffloadIPv4,        default,                0, "3"
HKR, Ndi\Params\*UDPChecksumOffloadIPv4\Enum,   "0",                    0, %Disabled%
HKR, Ndi\Params\*UDPChecksumOffloadIPv4\Enum,   "1",                    0, %ChksumOffTx%
HKR, Ndi\Params\*UDPChecksumOffloadIPv4\Enum,   "2",                    0, %ChksumOffRx%
HKR, Ndi\Params\*UDPChecksumOffloadIPv4\Enum,   "3",                    0, %ChksumOffTxRx%
HKR, Ndi\Params\*UDPChecksumOffloadIPv4,        type,                   0, "enum"

; *UDPChecksumOffloadIPv6
HKR, Ndi\Params\*UDPChecksumOffloadIPv6,        ParamDesc,              0, %UDPChksumOffv6%
HKR, Ndi\Params\*UDPChecksumOffloadIPv6,        default,                0, "3"
HKR, Ndi\Params\*UDPChecksumOffloadIPv6\Enum,   "0",                    0, %Disabled%
HKR, Ndi\Params\*UDPChecksumOffloadIPv6\Enum,   "1",                    0, %ChksumOffTx%
HKR, Ndi\Params\*UDPChecksumOffloadIPv6\Enum,   "2",                    0, %ChksumOffRx%
HKR, Ndi\Params\*UDPChecksumOffloadIPv6\Enum,   "3",                    0, %ChksumOffTxRx%
HKR, Ndi\Params\*UDPChecksumOffloadIPv6,        type,                   0, "enum"

; *IPChecksumOffloadIPv4
HKR, Ndi\Params\*IPChecksumOffloadIPv4,         ParamDesc,              0, %IPChksumOffv4%
HKR, Ndi\Params\*IPChecksumOffloadIPv4,         default,                0, "3"
HKR, Ndi\Params\*IPChecksumOffloadIPv4\Enum,    "0",                    0, %Disabled%
HKR, Ndi\Params\*IPChecksumOffloadIPv4\Enum,    "1",                    0, %ChksumOffTx%
HKR, Ndi\Params\*IPChecksumOffloadIPv4\Enum,    "2",                    0, %ChksumOffRx%
HKR, Ndi\Params\*IPChecksumOffloadIPv4\Enum,    "3",                    0, %ChksumOffTxRx%
HKR, Ndi\Params\*IPChecksumOffloadIPv4,         type,                   0, "enum"

;Log Link State Event
HKR,Ndi\Params\LogLinkStateEvent,               ParamDesc,              0, %LogLinkState%
HKR,Ndi\Params\LogLinkStateEvent,               Type,                   0, "enum"
HKR,Ndi\Params\LogLinkStateEvent,               Default,                0, "51"
HKR,Ndi\Params\LogLinkStateEvent\Enum,          "51",                   0, %Enabled%
HKR,Ndi\Params\LogLinkStateEvent\Enum,          "16",                   0, %Disabled%
HKR,,                                           LogLinkStateEvent,      0, "51"

; Interrupt Throttle Rate
HKR, Ndi\Params\ITR,                            ParamDesc,              0, %InterruptThrottleRate%
HKR, Ndi\Params\ITR,                            default,                0, "65535"
HKR, Ndi\Params\ITR\Enum,                       "65535",                0, %Adaptive%
HKR, Ndi\Params\ITR\Enum,                       "2000",                 0, %Extreme%
HKR, Ndi\Params\ITR\Enum,                       "950",                  0, %High%
HKR, Ndi\Params\ITR\Enum,                       "488",                  0, %Medium%
HKR, Ndi\Params\ITR\Enum,                       "200",                  0, %Low%
HKR, Ndi\Params\ITR\Enum,                       "0",                    0, %Off%
HKR, Ndi\Params\ITR,                            type,                   0, "enum"

; *InterruptModeration
HKR, Ndi\Params\*InterruptModeration,           ParamDesc,              0, %InterruptModeration%
HKR, Ndi\Params\*InterruptModeration,           default,                0, "1"
HKR, Ndi\Params\*InterruptModeration\Enum,      "0",                    0, %Disabled%
HKR, Ndi\Params\*InterruptModeration\Enum,      "1",                    0, %Enabled%
HKR, Ndi\Params\*InterruptModeration,           type,                   0, "enum"

; *LsoV2IPv4
HKR, Ndi\Params\*LsoV2IPv4,                     ParamDesc,              0, %LsoV2IPv4%
HKR, Ndi\Params\*LsoV2IPv4,                     default,                0, "1"
HKR, Ndi\Params\*LsoV2IPv4\Enum,                "0",                    0, %Disabled%
HKR, Ndi\Params\*LsoV2IPv4\Enum,                "1",                    0, %Enabled%
HKR, Ndi\Params\*LsoV2IPv4,                     type,                   0, "enum"

; Network Address
HKR, PROSetNdi\params\NetworkAddress,                 ParamDesc,              0, %LAA%
HKR, PROSetNdi\params\NetworkAddress,                 Default,                0, ""
HKR, PROSetNdi\params\NetworkAddress,                 type,                   0, "edit"
HKR, PROSetNDI\params\NetworkAddress,                 LimitText,              0, "12"
HKR, PROSetNDI\params\NetworkAddress,                 UpperCase,              0, "1"
HKR, PROSetNDI\params\NetworkAddress,                 optional,               0, "1"
HKR, PROSetNDI\params\NetworkAddress,                 ExposeLevel,            0, "3"

; *LsoV1IPv4
HKR,,                                           *LsoV1IPv4,             0, "0"

; *LsoV2IPv6
HKR, Ndi\Params\*LsoV2IPv6,                     ParamDesc,              0, %LsoV2IPv6%
HKR, Ndi\Params\*LsoV2IPv6,                     default,                0, "1"
HKR, Ndi\Params\*LsoV2IPv6\Enum,                "0",                    0, %Disabled%
HKR, Ndi\Params\*LsoV2IPv6\Enum,                "1",                    0, %Enabled%
HKR, Ndi\Params\*LsoV2IPv6,                     type,                   0, "enum"
HKR,,                                           HDSplitBufferAssoc,     0, "0"
HKR,,                                           UniversalInstall,       0x00010001, 1

; *JumboPacket
HKR, Ndi\Params\*JumboPacket,                   ParamDesc,              0, %JumboPacket%
HKR, Ndi\Params\*JumboPacket,                   default,                0, "1514"
HKR, Ndi\Params\*JumboPacket\Enum,              "1514",                 0, %Disabled%
HKR, Ndi\Params\*JumboPacket\Enum,              "4088",                 0, %Bytes4088%
HKR, Ndi\Params\*JumboPacket\Enum,              "9014",                 0, %Bytes9014%
HKR, Ndi\Params\*JumboPacket,                   type,                   0, "enum"

[VLAN.reg]
; *PriorityVLANTag
HKR, Ndi\Params\*PriorityVLANTag,               ParamDesc,              0, %PriorityVLANTag2%
HKR, Ndi\Params\*PriorityVLANTag,               default,                0, "3"
HKR, Ndi\Params\*PriorityVLANTag\Enum,          "0",                    0, %PriorityVlanDisabled2%
HKR, Ndi\Params\*PriorityVLANTag\Enum,          "1",                    0, %PriorityEnabled2%
HKR, Ndi\Params\*PriorityVLANTag\Enum,          "2",                    0, %VlanEnabled%
HKR, Ndi\Params\*PriorityVLANTag\Enum,          "3",                    0, %PriorityVlanEnabled2%
HKR, Ndi\Params\*PriorityVLANTag,               type,                   0, "enum"

[MSI.reg]
HKR, "Interrupt Management", 0x00000010
HKR, "Interrupt Management\MessageSignaledInterruptProperties", 0x00000010
HKR, "Interrupt Management\MessageSignaledInterruptProperties", MSISupported, 0x00010001, 1
HKR, "Interrupt Management\MessageSignaledInterruptProperties", MessageNumberLimit, 0x00010001, 1

[AddEventLog]
HKR,, EventMessageFile, 0x00020000, %EventLogMessageDllPath%
HKR,, TypesSupported,   0x00010001, 7

[Cleanup.DelReg]
HKR, Ndi\Params\RxScalingMode
HKR,, RxScalingMode
HKR, Ndi\Params\DcaEnabled
HKR,, DcaEnabled
HKR, Ndi\Params\EnableRSC
HKR,, EnableRSC

;-----------------------------------------------------------------------------
; Uninstall parameters
;-----------------------------------------------------------------------------
[Uninstall.reg]
HKR,Prounstl\SupportedDevices\8086, 10CA, 0, "10CA"
HKR,Prounstl\SupportedDevices\8086, 152D, 0, "152D"
HKR,Prounstl\SupportedDevices\8086, 152F, 0, "152F"
HKR,Prounstl\SupportedDevices\8086, 1520, 0, "1520"
HKR,Prounstl\Dins, v1q68x64.din, 0, "8259x.Uninstall"
HKR,Prounstl\Services, %ServiceName%, 0, v1q68x64.sys

;-----------------------------------------------------------------------------
; Driver "service" installation settings
;-----------------------------------------------------------------------------
[Service]
DisplayName     = %Service.Displayname%
ServiceType     = 1 ;%SERVICE_KERNEL_DRIVER%
StartType       = 3 ;%SERVICE_DEMAND_START%
ErrorControl    = 1 ;%SERVICE_ERROR_NORMAL%
ServiceBinary   = %12%\v1q68x64.sys
LoadOrderGroup  = NDIS

;-----------------------------------------------------------------------------
; Event Log settings
;-----------------------------------------------------------------------------

[EventLog]
AddReg             = AddEventLog

[CoInK.reg]
HKR,, CoInstallFlag, 0x00010001, 0x00281400

[CopyFiles]
v1q68x64.sys,,,2

[MessageDll.CopyFiles]
v1qmsg.dll,,,2

[Uninstall.CopyFiles]
v1q68x64.din,,,2

;-----------------------------------------------------------------------------
; DestinationDirs
;-----------------------------------------------------------------------------
[DestinationDirs]
CopyFiles          = 12
DefaultDestDir          = 11
Uninstall.CopyFiles          = 11
MessageDll.CopyFiles          = 11

[SourceDisksNames]
1 = %DiskName%,,,

;-----------------------------------------------------------------------------
; SourceDisksFiles
;-----------------------------------------------------------------------------
[SourceDisksFiles]
v1q68x64.sys  = 1
v1q68x64.din  = 1
v1qmsg.dll   = 1

[Strings]
InterruptThrottleRate           = "Interrupt Moderation Rate"
Adaptive                        = "Adaptive"
Extreme                         = "Extreme"
High                            = "High"
Medium                          = "Medium"
Low                             = "Low"
IPChksumOffv4                   = "IPv4 Checksum Offload"
TCPChksumOffv4                  = "TCP Checksum Offload (IPv4)"
UDPChksumOffv4                  = "UDP Checksum Offload (IPv4)"
LsoV2IPv4                       = "Large Send Offload V2 (IPv4)"
InterruptModeration             = "Interrupt Moderation"
TCPChksumOffv6                  = "TCP Checksum Offload (IPv6)"
UDPChksumOffv6                  = "UDP Checksum Offload (IPv6)"
LsoV2IPv6                       = "Large Send Offload V2 (IPv6)"
ChksumOffTxRx                   = "Rx & Tx Enabled"
ChksumOffTx                     = "Tx Enabled"
ChksumOffRx                     = "Rx Enabled"
TransmitBuffers                 = "Transmit Buffers"
ReceiveBuffers                  = "Receive Buffers"
PriorityVLANTag2                = "Packet Priority & VLAN"
PriorityVlanDisabled2           = "Packet Priority & VLAN Disabled"
PriorityEnabled2                = "Packet Priority Enabled"
PriorityVlanEnabled2            = "Packet Priority & VLAN Enabled"
VlanEnabled                     = "VLAN Enabled"
Off                             = "Off"
Enabled                         = "Enabled"
Disabled                        = "Disabled"
Bytes4088                       = "4088 Bytes"
Bytes9014                       = "9014 Bytes"
LAA                             = "Locally Administered Address"
JumboPacket                     = "Jumbo Packet"
LogLinkState                    = "Log Link State Event"
ServiceName                     = "v1q"
Intel                           = "Intel"
EventLogMessageDllPath          = "%SystemRoot%\System32\netevent.dll;%SystemRoot%\System32\drivers\v1q68x64.sys"
DiskName                        = "Intel(R) Virtual Network Device Driver Disk"
Service.Displayname             = "Intel(R) Virtual Network Connection"

;-----------------------------------------------------------------------------
; Device Description Strings
;-----------------------------------------------------------------------------
E10CAVF.DeviceDesc              = "Intel(R) 82576 Virtual Function"
E152FVF.DeviceDesc              = "Intel(R) I350 Virtual Function"
E1520VF.DeviceDesc              = "Intel(R) I350 Virtual Function"
;-----------------------------------------------------------------------------
;-----------------------------------------------------------------------------
;-----------------------------------------------------------------------------
;-----------------------------------------------------------------------------
;-----------------------------------------------------------------------------

[Strings.0804] ; Chinese (Simplified)
InterruptThrottleRate           ="中断裁决率"
Adaptive                        ="适应性"
Extreme                         ="极值"
High                            ="高"
Medium                          ="中"
Low                             ="低"
IPChksumOffv4                   ="IPv4 校验和分载传输"
TCPChksumOffv4                  ="TCP 校验和分载传输 (IPv4)"
UDPChksumOffv4                  ="UDP 校验和分载传输 (IPv4)"
LsoV2IPv4                       ="大型发送分载 V2 (IPv4)"
InterruptModeration             ="中断裁决"
TCPChksumOffv6                  ="TCP 校验和分载传输 (IPv6)"
UDPChksumOffv6                  ="UDP 校验和分载传输 (IPv6)"
LsoV2IPv6                       ="大型发送分载 V2 (IPv6)"
ChksumOffTxRx                   ="已启用 Rx 和 Tx"
ChksumOffTx                     ="已启用 Tx"
ChksumOffRx                     ="已启用 Rx"
TransmitBuffers                 ="传输缓冲区"
ReceiveBuffers                  ="接收缓冲区"
PriorityVLANTag2                ="数据包优先级和 VLAN"
PriorityVlanDisabled2           ="已禁用数据包优先级和 VLAN"
PriorityEnabled2                ="已启用数据包优先级"
PriorityVlanEnabled2            ="已启用数据包优先级和 VLAN"
VlanEnabled                     ="已启用 VLAN"
Off                             ="关闭"
Enabled                         ="启用"
Disabled                        ="禁用"
Bytes4088                       ="4088 字节"
Bytes9014                       ="9014 字节"
LAA                             ="本地管理地址"
JumboPacket                     ="巨帧数据包"
LogLinkState                    ="记录链接状态事件"
ServiceName                     = "v1q"
Intel                           = "Intel"
EventLogMessageDllPath          = "%SystemRoot%\System32\netevent.dll;%SystemRoot%\System32\v1qmsg.dll"
DiskName                        = "Intel(R) Virtual Network Device Driver Disk"
Service.Displayname             = "Intel(R) Virtual Network Connection"

;-----------------------------------------------------------------------------
; Device Description Strings
;-----------------------------------------------------------------------------
E10CAVF.DeviceDesc              = "Intel(R) 82576 Virtual Function"
E152FVF.DeviceDesc              = "Intel(R) I350 Virtual Function"
E1520VF.DeviceDesc              = "Intel(R) I350 Virtual Function"
;-----------------------------------------